.container {
    border-radius: 0.5rem;
    padding: 0.75rem 1.125rem;
    background-color: var(--white);
    box-sizing: border-box;
    cursor: pointer;
}

.select {
    text-decoration: none;
    border: none;
    outline: none;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
}

.select option:checked {
    background-color: var(--white);
    color: var(--black);
}