.container {
    width: 100%;
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    justify-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search .input {
    margin-right: 0.5rem;
}

.cards {
    max-height: 26rem;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-right: 1rem;
}