.header {
    width: 100%;
    padding: 0rem 3rem;
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav {
    margin-right: 4rem;
}

.navUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}